@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('//basehold.it/25');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  text-decoration: none;
	vertical-align: baseline;
}
/* Begin site styles below */

html {
  font-family: 'Amiri', 'Hoefler Text', Georgia, 'Times New Roman', Times, Roman, serif;
  font-size:  1.25em;/*20px/16px */
  line-height: 1.25em;/*25px/20px */
}
h1, h2, h3, h4{
  padding-bottom: 1.5625em; /* 25px/ 16px*/
}
ul, ol {
  margin-left: 1.25em;/*20px/16px */
  list-style-type: disc;
  padding-bottom: 0.78125em;/* 12.5px/16px */
}
li{
  padding-bottom: 0.78125em;/* 12.5px/16px */
}
.quick-facts{
  list-style-type: disc;
}
